// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #536C45;
$gray: #0E0000;
$light-gray: #F4F4F4;

// MY COLORS
$burgundy: #4F0F0F;
$chocolate: #C08261;
$cream: #E2C799;
$beige: #DBBF5C;

$blanc: #E8E4C0;
$rose: #e8c0d0;
