.header-show{
  // position: relative;
  width: 100%;
  height:100%;
  img {
    object-fit: contain;
    opacity: 0.7
  }
  .header-show-title {
    // position: absolute;
    // top: 195px;
    // right: 0px;
    padding-right: 10px;
    color: $burgundy;
    font-family: "Inika", serif;
    font-style: normal;
    font-size: 35px;
    line-height: 1.2;
    text-align: right;
    width: 100%;
  }
  p {
    padding-right: 10px;
    color: $burgundy;
    font-family: "Inika", serif;
    font-style: normal;
    font-size: 18px;
    text-align: right;
    width: 100%;
  }
}

.container-show {
  margin-bottom: 77px;
  .nav-show {
    display: flex;
    justify-content: space-evenly;
    border-bottom: $burgundy solid 1px;
    button {
      width: 120px;
      height: 40px;
      font-family: "Inika", serif;
      color: $burgundy;
    }
    .active {
      background-color: $burgundy;
      border-top-right-radius: 15px;
      border-top-left-radius: 15px;
      font-family: "Inika", serif;
      color: $cream;
    }
  }
  .categories {
    line-height: 2.2;
    font-family: 'Oswald', serif;
    font-size: 15px;
    margin: 10px;
  }
}

.card-trip-infos {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  padding: 10px;
  position: relative;
  margin-bottom: 15px;
}

.card-trip-infos h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip-infos p {
  font-size: 14px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.card-trip-infos .card-trip-user {
  width: 40px;
  align-self: flex-end;
  position: absolute;
  top: 55px;
  right: 10px;
}

.add-rating {
  background-color: $burgundy;
  border-radius: 5px;
  text-align: center;
  width: 100%;
  color: $cream;
}
