.header-show{
  // position: relative;
  width: 100%;
  height:100%;
  img {
    object-fit: contain;
    opacity: 0.7
  }
  .header-show-title {
    // position: absolute;
    // top: 195px;
    // right: 0px;
    padding-right: 10px;
    color: $burgundy;
    font-family: "Inika", serif;
    font-style: normal;
    font-size: 35px;
    line-height: 1.2;
    text-align: right;
    width: 100%;
  }
  p {
    padding-right: 10px;
    color: $burgundy;
    font-family: "Inika", serif;
    font-style: normal;
    font-size: 18px;
    text-align: right;
    width: 100%;
  }
}

.container-show {
  margin-bottom: 77px;
  .nav-show {
    display: flex;
    justify-content: space-evenly;
    border-bottom: $burgundy solid 1px;
    button {
      width: 120px;
      height: 40px;
      font-family: "Inika", serif;
      color: $burgundy;
    }
    .active {
      background-color: $burgundy;
      border-top-right-radius: 15px;
      border-top-left-radius: 15px;
      font-family: "Inika", serif;
      color: $cream;
    }
  }
  .categories {
    line-height: 2.2;
    font-family: 'Oswald', serif;
    font-size: 15px;
    margin: 10px;
  }
}

.add-rating {
  background-color: $burgundy;
  border-radius: 5px;
  text-align: center;
  width: 100%;
  color: $cream;
  margin-bottom: 10px;
}

.infos {
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 5px;
}

.infos-tech {
  background-color: antiquewhite;
  color: $burgundy;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 15px;
  p {
    margin-bottom: 0px;
  }
}

.form-gifter {
  margin-left: 15px;
}
