.container-index {
  padding: 12px;
  margin-bottom: 77px;
}

.header-index {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  align-items: center;
  h1 {
    font-family: "Inika", serif;
    font-weight: bolder;
    font-style: normal;
    font-size: 35px;
    line-height: 1.8;
  }
}

.user-avatar {
    object-fit: contain;
    width: 20%;
    height: 20%;
    // border-radius: 50%
  }

.cards-navig {
  display: flex;
  justify-content: space-around;
  .button-cards {
    height: 170px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    }
  }

  .cave {
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    background-image: url("cave.png");
    height: 170px;
    object-fit: contain;
    border-radius: 2px;
    z-index: 0;
    p {
      font-family: 'Oswald', serif;
      font-size: 20px;
      font-weight: 400;
      color: $burgundy;
      z-index: 1;
      margin-top: 10px;
    }
  }

  .suggestions {
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    background-image: url("cheese.png");
    height: 170px;
    object-fit: contain;
    border-radius: 2px;
    z-index: 0;
    p {
      font-family: 'Oswald', serif;
      font-size: 20px;
      font-weight: 400;
      color: $burgundy;
      margin-top: 10px;
    }
  }

  .messages {
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    background-image: url("phone.png");
    height: 170px;
    object-fit: contain;
    border-radius: 2px;
    z-index: 0;
    p {
      font-family: 'Oswald', serif;
      font-size: 20px;
      font-weight: 400;
      color: $burgundy;
      margin-top: 10px;
    }
  }

  .search-wines {
    h2 {
      font-family: 'Oswald', serif;
      font-size: 32px;
      font-weight: 400;
      color: $burgundy;
      padding: 10px;
    }
    .search-form {
      padding-left: 10px;
      padding-right: 10px;
      .btn-search {
        background-color: $green;
        width: 50px;
        height: 40px;
        border-top-right-radius: 10px;
      }
      .input-form {
        width: 80%;
        border: none;
        background-color: rgb(255, 254, 248);
        box-shadow: 0 0 15px rgba(0,0,0,0.2);
      }
    }
    .research-container {
      padding: 10px;
    }
  }

.wine-rouge {
  background-color: $burgundy;
  margin-top: 3px;
  width: 15rem;
  height: 15px;
  width: 100%;
  // position: absolute;
  top: 93px;
}

.wine-rose {
  background-color: $rose;
  margin-top: 3px;
  width: 15rem;
  height: 15px;
  width: 100%;
  // position: absolute;
  top: 93px;
}

.wine-blanc {
  background-color: $blanc;
  margin-top: 3px;
  width: 15rem;
  height: 15px;
  width: 100%;
  // position: absolute;
  top: 93px;
}
