<div class="home-banner">
  <div class="banner-content text-center">
    <p>Votre cave au fond de votre poche</p>
    <% if current_user  %>
      <%= link_to "Commencer", wines_path, class: "button-homepage" %>
      <%= link_to "Déconnexion", destroy_user_session_path, data: { turbo_method: :delete, turbo_confirm: "Voulez-vous vous déconnecter ?" } %>
      <% else %>
        <%= button_to "Connexion", new_user_session_path, class: "button-homepage"  %>
      <% end %>
  </div>
</div>
