.button-homepage {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 45px;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  border: solid;
  border-radius: 5px;
  border-color: yellowgreen;
  background-color: yellowgreen;

}

a {
  text-decoration: none;
  color: black;
}

.button-devise {
  width: 150px;
  height: 35px;
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
  border-radius: 5px;
  border-color: yellowgreen;
  background-color: yellowgreen;
}

.btn-gift {
  display: flex;
  justify-content: center;
  background-color: $burgundy;
  color: $cream;
}
