.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-top: 12px;
  border-radius: 5px;
  background-color: rgb(255, 254, 248);
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 2px
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  width: 100%;
  position: relative;
  .padding-infos{
    padding: 16px;
  }
  h3 {
    font-family: 'Oswald', serif;
    font-weight: 400;
    font-size: 18px;
    color: $burgundy;
  }
}

.card-cave {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 20px -14px 15px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  margin-top: 12px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.card-cave img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}
.card-cave h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 2px
}
.card-cave p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 0;
}
.card-cave .card-cave-infos {
  width: 100%;
  .padding-infos{
    padding: 8px;
  }
  h3 {
    font-family: 'Oswald', serif;
    font-weight: 400;
    font-size: 18px;
    color: $burgundy;
  }
}

.cave-gift {
  display: flex;
  box-shadow: 3px 16px 15px rgba(0, 0, 0, 0.2);
  background-color: $cream;
  color: $burgundy;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;

}

.cards-gift {
  background-color: rgb(250, 248, 239);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-bottom: 15px;
  border-radius: 5px;
  padding: 10px;
  .cards-gift-infos {
    display: flex;
    justify-content: space-between;
    margin: 5px;
  }
  .checkbox-gift {
    display: flex;
    align-items: baseline;
    margin: 10px;
    p {
      margin-left: 10px;
    }
  }

}

.gifter-infos {
  display: flex;
  margin: 10px;
  align-items: center;
  p {
    margin-left: 5px;
    margin-bottom: 0px;
  }
}

.card-trip-infos {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  padding: 10px;
  padding-right: 20px;
  position: relative;
  margin-bottom: 15px;
}

.card-trip-infos h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip-infos p {
  font-size: 14px;
  opacity: .7;
  margin: 0;
  margin-right: 25px;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.card-trip-infos .card-trip-user {
  width: 40px;
  align-self: flex-end;
  position: absolute;
  top: 10px;
  right: 10px;
}
