.red-wine {
  width: 25px;
  height: 25px;
  border-radius: 50px;
  background-color: #561C24;
  border: solid 1px grey;

}

.white-wine {
  width: 25px;
  height: 25px;
  border-radius: 50px;
  background-color: #EEEDEB;
  border: solid 1px grey;

}

.pink-wine {
  width: 25px;
  height: 25px;
  border-radius: 50px;
  background-color: #FFBE98;
  border: solid 1px grey;

}
