<div class="index-container">
    <div><h1>TITRE</h1></div>
  <div>
    <h2>Mes vins</h2>
    <% if @user_wines.empty? %>
      <%= link_to 'Commencer votre Cave!', root_path %>
    <% else %>
      <%= render "cards", wines: @user_wines %>
    <% end %>
  </div>

  <div>
    <h2>Trouver un vin</h2>
    <%= render "search" %>
    <%= render "cards", wines: @wines %>
  </div>

</div>
